<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="calculator-shape">
    <section class="visual">
      0
    </section>
    <section class="save">

    </section>
    <section class="number-ops">
      <div class="number-7">7</div>
      <div class="number-8">8</div>
      <div class="number-9">9</div>
      <div class="erase">B</div>
      <div class="start">C</div>
      <div class="number-4">4</div>
      <div class="number-5">5</div>
      <div class="number-6">6</div>
      <div class="multiply">x</div>
      <div class="division">%</div>
      <div class="number-1">1</div>
      <div class="number-2">2</div>
      <div class="number-3">3</div>
      <div class="adition">+</div>
      <div class="less">-</div>
      <div class="number-0">0</div>
      <div class="float">,</div>
      <div>x2</div>
      <div>/2</div>
      <div class="result">=</div>
    </section>
  </section>
    <script src='/javascripts/operations.js'></script>
  </body>
</html>
