<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="visual">

    </section>
    <section class="save">

    </section>
    <section class="number-ops">
      
    </section>
  </body>
</html>
